<nav>
    <ul>
      <li><a href="{{ "/me" | prepend: site.baseurl | replace: '//', '/' }}">Me</a></li>
      <li><a href="{{ "/posts" | prepend: site.baseurl | replace: '//', '/' }}">Posts</a></li>
      <li><a href="{{ "/utils" | prepend: site.baseurl | replace: '//', '/' }}">Utils</a></li>
      <li><a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}">Contact</a></li>
      <li><a href="{{ "/lifestyle" | prepend: site.baseurl | replace: '//', '/' }}">Lifestyle</a></li>
    </ul>
  </nav>
  